/*-----------------------------------Start change password----------------------------------------*/
.box-input-currentpass, .box-input-newpass{
    position: relative;
}
.box-input-currentpass input{
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-sizing: border-box;
    font: 14px Helvetica;
    height: 40px;
    line-height: 17px;
    padding: 0 16px;
    width: 100%;
    color: black
}
.box-input-newpass input{
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-sizing: border-box;
    font: 14px Helvetica;
    height: 40px;
    line-height: 17px;
    padding: 0 16px;
    width: 100%;
    color: black
}

.error-confirm-pass, .error-currentpass, .error-newpass{
    padding: 5px 0px 5px 0px;
    font-size: 13px;
    color: red;
}