*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*----------------------------------------- Start Nvabar -------------------------------*/
.nvabar-frame {
    position: relative;
    width: 100%;
    height: 36px;
    border: none;
    outline: none;
    margin: 0px;
    background-color: #f5f5f5;
}

.nav1-text-account {
    text-align: end;
}

.logo-nvabar {
    position: relative;
}

.z3 {
    z-index: 1;
}

.pre-nav-design-icon {
    color: #111;
    width: 24px;
    height: 24px;
}

.nav1-hover-account:hover {
    color: gray;
}

.pre-nav-design-icon:hover {
    color: gray;
}

.pre-account-expand {
    position: absolute;
    width: 60%;
    right: 0px;
    top: 36px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity .2s, visibility 0s linear .2s, transform .25s ease;

}

.pre-account-expand-content {
    background: white;
    border-radius: 0 0 8px 8px;
}

.pt24-sm {
    padding-top: 24px;
}

.pr24-sm {
    padding-right: 24px;
}

.pb24-sm {
    padding-bottom: 24px;
}

.pl24-sm {
    padding-left: 24px;
}

.pre-acct-account li a {
    font-size: 14px;
    padding: 4px 8px;
}

.pl8-sm {
    padding-left: 8px;
}

.logout-btn {
    font-size: 13px;
    color: gray;
    padding: 4px 8px;
    border: none;
}

.logout-btn:hover {
    color: black;
}

#id-account {
    font-size: 20px;
}
li{
    list-style: none;
}
a{
    cursor: pointer;
}

.padding-0 {
    padding: 0px;
}

.padding-left-48 {
    padding-left: 48px !important;
}
.padding-right-48{
    padding-right: 48px !important;
}
button {
    border: none;
    padding: 0px;
    outline: none;
    margin: 0px;
    background: transparent;
}
.flex-box-signin-signup{
    line-height: 36px;
}

/*----------------------------------------- End Nvabar ---------------------------------------*/

/* Start Header 1 */
.format-text-header1 {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.flex-header-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-header-2 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.flex-header-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.padding-right-48 {
    padding-right: 48px;
}
/* sEARCH */
.box-men a,
.box-women a,
.box-kids a {
    text-decoration: none;
    color: black;
}

.box-men a:hover,
.box-women a:hover,
.box-kids a:hover {
    border-bottom: 2px solid black;
}

.box-men,
.box-women,
.box-kids {
    position: relative;
    z-index: 1;
}

.hide-Cancel {
    display: none;
}

.show-Cancel {
    display: block;
}

.cancel-search {
    display: flex;
    justify-content: center;
    align-items: center;
}


.pre-search-input {
    visibility: visible;
    width: 100%;
    background: #f5f5f5;
    color: inherit;
    padding: 8px 48px;
    cursor: text;
    border-radius: 100px;
    height: 40px;
    border: none;
}

.pre-search-hover:hover {
    background-color: rgb(228, 228, 228);
    border-radius: 100px;
    border: none;
}

.pre-clear-search {
    position: absolute;
    top: 2px;
    right: 20px;
    padding: 6px 8px;
    background: transparent;
    border-radius: 100px;
}

.pre-clear-search-hide {
    display: none;
}

.pre-clear-search-show {
    display: block;
}

.pre-favorite {
    background: transparent;
    color: rgba(0, 0, 0, .54);
    border-radius: 100px;
    cursor: pointer;
}

.pre-favorite:hover {
    background-color: rgb(230, 216, 216);
    border-radius: 100px;
    color: black;
}

.pre-bag-btn {
    background: transparent;
    color: rgba(0, 0, 0, .54);
    border-radius: 100px;
    cursor: pointer;
    position: relative;
}

.pre-bag-hover:hover {
    background-color: rgb(230, 216, 216);
    border-radius: 100px;
    color: black;
}
.flex-header-4 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.pre-expand-option {
    background: transparent;
    color: rgba(0, 0, 0, .54);
    cursor: pointer;
}
.pre-expand-option-hover:hover {
    background-color: rgb(230, 216, 216);
    color: black;
}
.show-input-search{
    display: block;
}

.pre-cancel-btn {
    color: black;
    background-color: transparent;
    border: none;
}

.pre-cancel-btn:hover {
    color: gray;
    border: none;
    background-color: transparent;
}

.end-text-cancel {
    text-align: end;
}
.flex-glass-header1 {
    display: flex;
    align-items: center;
}
.padding-top-20 {
    padding-top: 20px !important;
}
.padding-top-10 {
    padding-top: 10px !important;
}
.padding-left-12 {
    padding-left: 12px !important;
}

.padding-left-0 {
    padding-left: 0px;
}

.padding-right-12 {
    padding-right: 12px !important;
}
.padding-bottom-10 {
    padding-bottom: 10px !important;
}

/* End Header 1 */

/* Header 2 */
.pre-header2 {
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.pre-header2-shadow {
    box-shadow: 1px 5px 5px 4px rgba(0, 0, 0, 0.64);
}
#sing-up-btn:hover{
    color: black;
    background-color: aquamarine;
    border-radius: 3px;
}
#sing-in-btn:hover{
    color: black;
    background-color: aquamarine;
    border-radius: 3px;
}
#goto-homepage-unsingin, #goto-homepage-singin{
    cursor: pointer;
}
/* Mobile */
.pre-mobile-menu{
    position: absolute;
    top:0;
    right:0;
    overflow-x: hidden;
    width: 330px;
    height:100vh;
    background-color: white;
    transform: translateX(330px);
    transition: transform .25s;
}
.z10{
    z-index: 10;
    display: inline-block;
}
.pre-mobile-menu.pre-mobile-hide{
    visibility: hidden;
    width: 0;
}
.pre-mobile-menu.pre-mobile-show{
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
    transition: transform .25s;
}
.pre-panel {
    position: absolute;
    right: 0;
    left: 0;
    padding: 0 30px 150px 36px;
    margin-top: 46px;
    transform: translateX(0px);
    transition: transform .25s;
}
.pre-panel-root {
    margin-top: 0;
    padding-top: 40px;
}
.pre-mobile-menu .close-nav-btn {
    position: absolute;
    right: 14px;
    top: 8px;
    margin-right: 10px;
}
.pre-btn-icon {
    background: transparent;
    vertical-align: middle;
    flex: 0 0 auto;
    color: rgba(0,0,0,.54);
    padding: 8px;
    text-align: center;
    border-radius: 100px;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    position: relative;
    align-items: center;
}
.ripple {
    overflow: hidden;
    transform: translateZ(0);
}
.pre-close-icon {
    transform: scale(1.3);
    color: #111;
}
.pre-chevron.chev-root {
    color: #111;
}

.pre-chevron{
    color: #757575;
}
.d-sm-b {
    display: block;
}
.pre-panel-root .pre-link-label, .pre-panel-root button.pre-link {
    line-height: 1.166667;
}
.pre-panel .pre-link-label {
    width: 100%;
    text-align: left;
}

.headline-3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.headline-4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: gray;
}
button.nav-btn, button.pre-link {
    background: transparent;
}
button.pre-link {
    line-height: 1.166667;
}
.pre-panel-root .pre-link {
    padding: 10px 0;
}
.flex-btn{
    color: #111;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 4px 0;
}
a{
    color: gray;
}
/* Men shoes Mobile */
.pre-mobile-menu-men {
    position: absolute;
    top:0;
    right:0;
    overflow-x: hidden;
    width: 330px;
    height:100vh;
    background-color: white;
    transform: translateX(330px);
    transition: transform .25s;
}
.pre-mobile-hide-men{
    visibility: hidden;
    width:0px;
}
.pre-mobile-show-men{
    visibility: visible;
    transform: translateX(0px);
    transition: transform .25s;
}
.pre-mobile-menu-men .close-nav-btn {
    position: absolute;
    right: 14px;
    top: 8px;
    margin-right: 10px;
}
/* Women shoes mobile */
.pre-mobile-menu-women {
    position: absolute;
    top:0;
    right:0;
    overflow-x: hidden;
    width: 330px;
    height:100vh;
    background-color: white;
    transform: translateX(330px);
    transition: transform .25s;
}
.pre-mobile-hide-women{
    visibility: hidden;
    width:0px;
}
.pre-mobile-show-women{
    visibility: visible;
    transform: translateX(0px);
    transition: transform .25s;
}
.pre-mobile-menu-women .close-nav-btn {
    position: absolute;
    right: 14px;
    top: 8px;
    margin-right: 10px;
}
/* Kids */
.pre-mobile-menu-kids {
    position: absolute;
    top:0;
    right:0;
    overflow-x: hidden;
    width: 330px;
    height:100vh;
    background-color: white;
    transform: translateX(330px);
    transition: transform .25s;
}
.pre-mobile-hide-kids{
    visibility: hidden;
    width:0px;
}
.pre-mobile-show-kids{
    visibility: visible;
    transform: translateX(0px);
    transition: transform .25s;
}
.pre-mobile-menu-kids .close-nav-btn {
    position: absolute;
    right: 14px;
    top: 8px;
    margin-right: 10px;
}

/* End Mobile */
/*-----------------------------------Start footer----------------------------------------*/
.out-box-footer {
    max-width: 100%;
    height: 300px;
    background-color: #111111;
    margin: 0px;
    padding: 0px;
}

.border-box-footer {
    margin: 0px;
    padding-top: 40px;
}

.flex-content-footer1 {
    display: flex;
}

.content1 {
    width: 30%;
    padding: 0px 6px;
}

.content2 {
    width: 30%;
    padding: 0px 6px;
}

.content3 {
    width: 30%;
    padding: 0px 6px;
}

.footer-link {
    margin-bottom: 6px;
}

li {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
}

.format-text-footer1 {
    color: white;
    font-weight: 500;
    font-size: 13px;
}

.format-text-footer2 {
    color: gray;
    font-size: 12px;
}

.flex-box-footer1 {
    display: flex;
    justify-content: space-between;
    width:100%
}

.social-link-icon {
    fill: #7e7e7e;
    transition: fill .2s;
}
.social-link-icon:hover {
    fill: white;
    transition: fill .2s;
}

.content-footer2 {
    display: flex;
    justify-content: flex-end;
}

.location-footer {
    width: 100%;
    height: 44px;
    padding: 12px 6px 0px 8px;
}

a:hover {
    text-decoration: none;
}

.format-text-footer2:hover {
    color: white;
}
.format-row{
    margin: 0px;
    padding: 0px;
}
/*-----------------------------------End footer----------------------------------------*/

a{
    cursor: pointer;
}
/* Search */
.hide-product-search{
    display: none;
}
.show-product-serach{
    display: block;
}
/* .opacity-content{
    position: absolute;
    top: 115px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(17, 17, 17, 0.562);
    z-index: 1000;

} */
/* Reponsive */
@media (min-width: 992px){
    .pre-search-btn {
        position: absolute;
        top: 0;
        left: -300%;
        padding: 8px;
        border-radius: 100px;
        background: transparent;
    }
    .empty-header3{
        display: none;
    }
    .hide-menu-btn{
        display: none;
    }
    .new-pre-l-search{
        height: auto;
        background: #fff;
        transition: all .1s;
        width: 100%;
        padding: 10px 48px 10px 48px;
    }
    .grid-6-img {
        display: grid;
        column-gap: 15px;
        grid-template-columns: 15.6% 15.6% 15.6% 15.6% 15.6% 15.6%;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .show-box-gender {
        display: none;
    }
    .pre-search-btn {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0px;
        border-radius: 100px;
        background: transparent;
    }
    .empty-header2 {
        display: none;
    }
    .box-input-search {
        display: none;
    }
    .hide-favorite-btn{
        display: none;
    }
    .hidden-nvabar{
        display: none;
    }
    .new-pre-l-search{
        height: auto;
        background: #fff;
        transition: all .1s;
        width: 100%;
        padding: 10px 0px 10px 15px;
    }
    .grid-6-img {
        display: grid;
        column-gap: 15px;
        grid-template-columns: 23.4% 23.4% 23.4% 23.4%;
    }
}
@media (min-width:576px) and (max-width: 767.98px) {
    .show-box-gender {
        display: none;
    }

    .empty-header2 {
        display: none;
    }

    .box-input-search {
        display: none;
    }

    .pre-search-btn {
        padding: 0px;
        border-radius: 100px;
        background: transparent;
    }
    .empty-header3{
        display: none;
    }
    .flex-header-start {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
    .hide-favorite-btn{
        display: none;
    }
    .hidden-nvabar{
        display: none;
    }
    .padding-right48-new{
        padding-right: 48px !important;
    }
    .padding-left48-new{
        padding-left: 48px !important;
    }
    .new-pre-l-search{
        height: auto;
        background: #fff;
        transition: all .1s;
        width: 100%;
        padding: 10px 0px 10px 15px;
    }
    .grid-6-img {
        display: grid;
        column-gap: 15px;
        grid-template-columns: 31.2% 31.2% 31.2%;
    }
}
@media (max-width:576px) {
    .show-box-gender {
        display: none;
    }

    .empty-header2 {
        display: none;
    }

    .box-input-search {
        display: none;
    }

    .pre-search-btn {
        padding: 0px;
        border-radius: 100px;
        background: transparent;
    }
    .empty-header3{
        display: none;
    }
    .flex-header-start {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
    .hide-favorite-btn{
        display: none;
    }
    .hidden-nvabar{
        display: none;
    }
    .padding-left-new {
        padding-left: 12px !important;
    }
    
    .padding-right-new {
        padding-right: 12px !important;
    }
    .padding-top-new{
        padding-top: 10px !important;
    }
    .new-pre-l-search{
        height: auto;
        background: #fff;
        transition: all .1s;
        width: 100%;
        padding: 10px 0px 10px 15px;
    }
    .grid-6-img {
        display: grid;
        column-gap: 15px;
        grid-template-columns: 46.8% 46.8%;
    }
}
/* End Reponsive */
